{% extends "DbBundle::base.html.twig" %}

{% block body %}
	<h2>Klasy</h2>
	{% for class in classes %}
		{% if loop.first %}
			{% set deleteform %}
				{% include "DbBundle::deleteform.html.twig" with {'deleteform': deleteform} %}
			{% endset %}
			<table class="table table-stripped">
				<tr>
					<th>Id</th>
					<th>Nazwa</th>
					<th>Zręczność</th>
					<th>Inteligencja</th>
					<th>Mana</th>
					<th>Siła</th>
					<th>Akcje</th>
					<th>Usuń</th>
				</tr>
		{% endif %}
		<tr>
			<td>{{ class.id }}</td>
			<td>{{ class.name }}</td>
			<td>{{ class.dexterity }}</td>
			<td>{{ class.intelligence}}</td>
			<td>{{ class.mana }}</td>
			<td>{{ class.strength }}</td>
			<td>
				<div class="btn-group">
					<a class="btn" href="{{ path('editclass', parameters | merge({'class': class.id})) }}">Edytuj</a>
				</div>
			</td>
			<td>
				<form class="form-inline form-confirmation" action="{{ path('deleteclass', {'class': class.id}) }}" method="post" title="Na pewno usunąć klasę?">
					{{ deleteform }}
				</form>
			</td>
		</tr>
		{% if loop.last %}
			</table>
			<div class="center">
				{% include "DbBundle::pagination.html.twig" with {'numeration': classes.getNumeration(), 'path': 'classes'} %}
			</div>
		{% endif %}
	{% else %}
		<div class="center">Brak rekordów</div>
	{% endfor %}
	<a class="btn btn-inverse" href="{{ path('addclass') }}">Dodaj klasę</a>
{% endblock %}
