{% extends "DbBundle::base.html.twig" %}

{% block body %}
	<h2>Użytkownicy</h2>
	{% for user in users %}
		{% if loop.first %}
			{% set deleteform %}
				{% include "DbBundle::deleteform.html.twig" with {'deleteform': deleteform} %}
			{% endset %}
			<table class="table table-stripped">
				<tr>
					<th>Id</th>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>Email</th>
					<th>Akcje</th>
					<th>Usuń</th>
				</tr>
		{% endif %}
		<tr>
			<td>{{ user.id }}</td>
			<td>{{ user.name }}</td>
			<td>{{ user.surname }}</td>
			<td>{{ user.email }}</td>
			<td>
				<div class="btn-group">
					<a class="btn" data-hover="btn-primary" href="{{ path('edituser', parameters | merge({'user': user.id})) }}">Edytuj</a>
				</div>
			</td>
			<td>
				<form class="form-inline form-confirmation" action="{{ path('deleteuser', parameters | merge({'user': user.id})) }}" method="post" title="Na pewno usunąć użytkownika?">
					{{ deleteform }}
				</form>
			</td>
		</tr>
		{% if loop.last %}
			</table>
			<div class="center">
				{% include "DbBundle::pagination.html.twig" with {'numeration': users.getNumeration(), 'path': 'users'} %}
			</div>
		{% endif %}
	{% else %}
		<div class="center">Brak rekordów</div>
	{% endfor %}
	<a class="btn btn-inverse" href="{{ path('adduser') }}">Dodaj użytkownika</a>
{% endblock %}
