<!DOCCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Salvage Internet Armageddon - the game{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<link href='http://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
	{% block stylesheets %}
			{% stylesheets
					'bundles/db/css/article.css'
					'bundles/db/css/rightpanel.css'
					'bundles/db/css/default.css'
					'bundles/db/css/style.css'
					'bundles/db/twitter/css/bootstrap.min.css'
			%}
					<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
			{% endstylesheets %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div id="layout">
		<!-- LOGO -->
		<div class="logo">
			<a href="/"><h1>Salvage Internet Armageddon the game</h1></a>
		</div>
		<!-- END LOGO -->

		<!-- HEADER -->
		<div class="header">
		  	<div class="header_top"></div>
		  	<div class="main_navigation">
		  		<ul class="nav main_menu">
	  				<li>
						<a href="{{ path('users') }}">
							<span class="navigation_text1">Użytkownicy</span><br />
							<span class="navigation_text2">Zarejestrowane ludki</span>
						</a>
	  				</li>
	  				<li>
						<a href="{{ path('players') }}">
							<span class="navigation_text1">Gracze</span><br />
							<span class="navigation_text2">Postacie w grze</span>
						</a>
	  				</li>
					<li>
						<a href="{{ path('items') }}">
							<span class="navigation_text1">Przedmioty</span><br />
							<span class="navigation_text2">Wszystkie itemki</span>
						</a>
					</li>
					<li>
						<a href="{{ path('races') }}">
							<span class="navigation_text1">Rasy</span><br />
							<span class="navigation_text2">Nacje w grze</span>
						</a>
					</li>
					<li>
						<a href="{{ path('classes') }}">
							<span class="navigation_text1">Klasy</span><br />
							<span class="navigation_text2">Profesje postaci</span>
						</a>
					<li>
		  		</ul>
		  	</div>
		  	<div class="header_bottom"></div>
		</div>
		<!-- END HEADER -->

		<!-- START CONTENT BODY -->
		<div class="wrapper_appendix_left"></div>
		<div class="wrapper_appendix_right"></div>
		<div class="wrapper">
			<div class="content">
				<div class="top_panel">
				{% if app.session.hasFlash('notice') %}
					<div class="center text-info">{{ app.session.flash('notice') }}</div>
				{% endif %}
				</div>

				<div class="clear"></div>
				<div class="content_text"> <!-- view content -->
				{% block body %}{% endblock %}
			</div>
		</div>
		<div class="wrapper_bottom"></div>
		<!-- END CONTENT BODY -->

		<!-- START FOOTER -->
		<div class="footer" style="display:none;">

		</div>
		<!-- END FOOTER -->

		{% block javascripts %}
				{% javascripts
						'bundles/db/js/script.js'
				%}
						<script type="text/javascript" src="{{ asset_url }}"></script>
				{% endjavascripts %}
		{% endblock %}
	</div>
</body>
</html>
